<div class="">
	<div class="well well-sm" name="objectsContainer">  							
		<div id="signConfigurations" class="carousel slide" data-slide="carousel" data-interval='0'>
			<div class="carousel-inner" style="width:90%; margin:auto" role="listbox">
				<div class="item active">
					<img />
					<div class="panel panel-info panel-body" style="margin:auto;">
						<div class="col-sm-12 form-horizontal">
							<label class="control-label">Position:</label>
							<input type="text" class="slider">
						</div>
						<div class="col-sm-3" id="objectInit">
							<label class="control-label">Init:</label>
							<input type="number" class="form-control" name="timeInit" maxlength="5"/>
						</div>
						<div class="col-sm-3" id="objectEnd">
							<label class="control-label">End:</label>
							<input type="number" class="form-control" name="timeEnd" maxlength="5"/>
						</div>
						<div class="col-sm-3" id="objectUnit">
							<label class="control-label">Unit Type:</label>
							<input type="text" class="form-control" name="typeUnit" maxlength="5"/>
						</div>
						<div class="col-sm-3" id="objectTarget">
							<label class="control-label">Target Segment:</label>
							<input type="text" class="form-control" name="segmentTarger" maxlength="5"/>
						</div>
					</div>
					<div class="col-sm-12" style="padding-top:15px;">
						<div class="col-sm-3"></div>
						<div class="col-sm-6">
  							<table class="table table-striped table-bordered">
  								<thead>
  									<tr>
	  									<th>State</th>
	  									<th>Value</th>				  									
  									</tr>			  									
  								</thead>
  								<tbody>
  									<tr>
  										<td>Bump</td>
  										<td>2</td>
  									</tr>
  									
  								</tbody>				  							
  							</table>
						</div>
						<div class="col-sm-3"></div>
					</div>
					
				</div>
				
				<div class='pull-right' style="padding-top:15;">
					<button type="button" class="btn btn-danger" >X</button>
					<button type="button" class="btn btn-success" >S</button>
				</div>
			</div>
			<!-- Controls -->
		</div>
		
	</div>
</div>